body {
  font-family: "Raleway", sans-serif;
  max-width: 100%;
  max-width: 100%;
  margin: auto;
  text-align: center; }
  body h1 {
    color: #333333;
    weight: 300; }

nav {
  height: 38px;
  background-color: white;
  color: black;
  margin: 3px 15px; }
  nav .logo {
    float: left;
    height: 23px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 5px 0px 5px;
    margin-left: 8px; }
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none; }
    nav ul li {
      height: 23px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 8px 5px 0px 5px;
      margin-left: 3px;
      cursor: pointer; }
      nav ul li:hover {
        border: 1px solid gray;
        background-color: #f2f2f2; }

.desk-box {
  height: 600px;
  display: flex;
  align-items: flex-start;
  justify-conent: center;
  width: 100%;
  margin: auto;
  background: url(../images/background.png);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  .desk-box .mac {
    display: inline-block;
    max-width: 700px;
    min-width: 400px;
    height: 600px;
    margin: auto;
    padding-top: 130px;
    background-image: url(../images/mac.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    flex-grow: 2;
    flex-shrink: 2; }
  .desk-box .ipad {
    max-width: 600px;
    height: 600px;
    display: inline-block;
    background-image: url(../images/ipadbig.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-shrink: 0; }
  .desk-box .iphone {
    height: 600px;
    max-width: 600px;
    display: inline-block;
    background-image: url(../images/iphone.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-shrink: 0; }

.content article {
  padding: 50px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center; }

.projects {
  height: auto;
  background: url(../images/background.png);
  background-size: cover;
  background-attachment: fixed; }
  .projects h2 {
    color: white;
    padding-top: 35px; }
  .projects hr {
    width: 450px;
    border-color: white; }
  .projects .project-row {
    margin-bottom: 40px; }
    .projects .project-row .project-pic {
      height: 350px; }
      .projects .project-row .project-pic img {
        height: 330px;
        text-align: center;
        display: none; }
    .projects .project-row .project-description {
      height: 300px;
      background-color: white;
      border-radius: 15px;
      margin-top: 10px; }
      .projects .project-row .project-description h4 {
        padding-top: 30px; }
      .projects .project-row .project-description p {
        padding: 0 25px 0 25px; }
      .projects .project-row .project-description .techs {
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        .projects .project-row .project-description .techs .tech-button {
          width: 100px;
          height: 25px;
          color: white;
          background-color: rgba(255, 0, 0, 0.7);
          border-radius: 8px;
          padding-top: 4px;
          margin: 5px 5px 0px 5px; }

.contact {
  height: 1000px;
  background-image: url(../images/background.png);
  background-size: cover;
  background-attachment: fixed; }
  .contact h2 {
    color: white; }
  .contact hr {
    width: 500px;
    border-color: white; }
  .contact .contact-ipad {
    display: inline-block;
    height: 750px;
    width: 600px;
    margin-left: 100px;
    background-image: url(../images/ipad-contact.png);
    background-size: 30%;
    background-repeat: no-repeat; }
    .contact .contact-ipad .github {
      height: 90px;
      width: 350px;
      transform: rotate(-16deg);
      margin-left: 60px;
      margin-top: 160px;
      cursor: pointer; }
    .contact .contact-ipad .linkedin {
      height: 90px;
      width: 350px;
      transform: rotate(-16deg);
      margin-left: 90px;
      margin-top: 10px;
      cursor: pointer; }
    .contact .contact-ipad .twitter {
      height: 90px;
      width: 350px;
      transform: rotate(-16deg);
      margin-left: 120px;
      cursor: pointer; }
