body {
  font-family: "Raleway", sans-serif;
  max-width: 100%;
  max-width: 100%;
  margin: auto;
  text-align: center; }
  body h1 {
    color: #333333;
    weight: 300; }

nav {
  height: 38px;
  background-color: white;
  color: black;
  margin: 3px 15px; }
  nav .logo {
    float: left;
    height: 23px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 5px 0px 5px;
    margin-left: 8px; }
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none; }
    nav ul li {
      height: 23px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 8px 5px 0px 5px;
      margin-left: 3px; }
      nav ul li:hover {
        border: 1px solid gray;
        background-color: #f2f2f2; }

.desk-box {
  height: 600px;
  display: flex;
  align-items: flex-start;
  justify-conent: center;
  width: 100%;
  margin: auto;
  background: url(../images/background.png);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  .desk-box .mac {
    display: inline-block;
    max-width: 700px;
    min-width: 400px;
    height: 600px;
    margin: auto;
    padding-top: 130px;
    background-image: url(../images/mac.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    flex-grow: 2;
    flex-shrink: 2; }
  .desk-box .ipad {
    max-width: 600px;
    height: 600px;
    display: inline-block;
    background-image: url(../images/ipad.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-shrink: 0; }
  .desk-box .iphone {
    height: 600px;
    max-width: 600px;
    display: inline-block;
    background-image: url(../images/iphone.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-shrink: 0; }

.content article {
  padding: 50px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center; }

.space {
  height: 2000px; }

.projects {
  font-family: "Raleway", sans-serif;
  height: 600px;
  background: url(../images/background.png);
  background-size: cover;
  background-attachment: fixed; }
  .projects hr {
    width: 600px; }
  .projects h2 {
    padding-top: 30px;
    color: white; }
  .projects .project1 {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .projects .project1 img {
      height: 400px; }
    .projects .project1 .image {
      height: 400px;
      width: 40%;
      position: absolute; }
    .projects .project1 .description {
      height: 300px;
      width: 35%;
      border-radius: 5px;
      background-color: white;
      display: none;
      position: absolute;
      right: 50px;
      margin-top: 30px;
      padding: 0px 10px 0 10px; }
      .projects .project1 .description h3 {
        padding-top: 15px; }
      .projects .project1 .description p {
        margin: 0 5px 0 5px; }
