body {
  font-family: "Raleway", sans-serif;
  max-width: 100%;
  max-width: 100%;
  margin: auto;
  text-align: center;

   h1 {
  color: #ccc;
  weight: 300;
  }
}

nav {
  height: 38px;
  background-color: white;
  color: darken(#ccc, 20%);

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 5px 15px;

    li {
      //flex-basis: auto;
      height: 25px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px 5px 0px 5px;
      margin-left: 3px;

      &:hover {
        border: 1px solid darken(#ccc, 30%);
        background-color: lighten(#ccc, 15%);
      }
    }
  }
}

.desk-box {
  position: relative;
  height: 600px;
  background: url(../images/background.png);
  background-size: cover;
  //background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}

.mac {
  width: 960px;
  height: 600px;
  position: absolute;
  left: 25%;
  margin-left: -225px;
  top: 25%;
  margin-top: -100px;
  background-position: right;
  background-image: url(../images/mac.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.ipad {
  width: 960px;
  height: 600px;
  position: absolute;
  background-image: url(../images/ipad.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  margin-left: 200px;
  margin-top: 50px;
}

.iphone {
  width: 150px;
  height: 325px;
  position: absolute;
  background-image: url(../images/iphone.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  left: 25%;
  margin-left: -200px;
  margin-top: 325px;
}

.content {
  article {
    padding: 50px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }
}

.space {
  height: 2000px;
}

.projects {

  height: 600px;
  background: url(../images/background.png);
  background-size: cover;
  background-attachment: fixed;

  hr {
    width: 600px;
  }

  h2 {
    padding-top: 30px;
    color: white;
  }

  .project1 {

    display: flex;
    justify-content: space-around;

    .image {
      height: 400px;
      width: 40%;
      background-color: transparentize(white, .5);
    }

    .description {
      height: 400px;
      width: 40%;
      background-color: transparentize(blue, .5);
      display: none;
    }

    .addItem {
      flex-grow: 1;
    }

  }
}


