body {
  font-family: "Raleway", sans-serif;
  max-width: 100%;
  max-width: 100%;
  margin: auto;
  text-align: center;

   h1 {
  color: lighten(black, 20%);
  weight: 300;
  }
}

nav {
  height: 38px;
  background-color: white;
  color: black;

  .logo {
    float: left;
    height: 23px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 5px 0px 5px;
    margin-left: 8px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 5px 15px;

    li {
      height: 23px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 8px 5px 0px 5px;
      margin-left: 3px;

      &:hover {
        border: 1px solid darken(#ccc, 30%);
        background-color: lighten(#ccc, 15%);
      }
    }
  }
}

.desk-box {
  height: 600px;
  display: flex;
  align-items: flex-start;
  justify-conent: center;
  width: 100%;
  margin: auto;
  background: url(../images/background.png);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

  .mac {
    display: inline-block;
    max-width: 700px;
    min-width: 400px;
    height: 600px;
    margin: auto;
    padding-top: 130px;
    background-image: url(../images/mac.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    flex-grow: 2;
    flex-shrink: 2;
  }

  .ipad {
    max-width: 600px;
    height: 600px;
    display: inline-block;
    background-image: url(../images/ipad.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .iphone {
    height: 600px;
    max-width: 600px;
    display: inline-block;
    background-image: url(../images/iphone.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    flex-grow: 1;
    flex-shrink: 0;
  }
}



.content {
  article {
    padding: 50px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }
}

.space {
  height: 2000px;
}

.projects {

  font-family: "Raleway", sans-serif;
  height: 600px;
  background: url(../images/background.png);
  background-size: cover;
  background-attachment: fixed;

  hr {
    width: 600px;
  }

  h2 {
    padding-top: 30px;
    color: white;
  }

  .project1 {

    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      height: 400px;
    }

    .image {
      height: 400px;
      width: 40%;
      //background-color: transparentize(white, .5);
      position: absolute;
    }

    .description {
      height: 300px;
      width: 35%;
      border-radius: 5px;
      background-color: white;
      display: none;
      position: absolute;
      right: 50px;
      margin-top: 30px;
      padding: 0px 10px 0 10px;

      h3 {
        padding-top: 15px;
      }

      p {
        margin: 0 5px 0 5px;
      }

    }

  }
}


